
@model System.Collections.Generic.List<DVDLibrary.Models.RentalInfo>

@{
    ViewBag.Title = "Track";
}
<div class="container">
    <div class="col-lg-5 col-md-5 col-sm-12 col-center-block">
        <h2 class="padding-top-20">Tracking</h2>

        <ul>
            @foreach (var rental in Model)
            {
                <li class="list-no-style">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row margin-top-10">
                                <div class="col-xs-12">
                                    <h2>@rental.Movie.Title</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h6>Borrower ID: </h6>
                                    <p>@rental.Borrower.BorrowerID</p>
                                </div>
                                <div class="col-xs-6">
                                    <h6>Borrower Name: </h6>
                                    <p>@rental.Borrower.FirstName @rental.Borrower.LastName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <h6>User Rating: </h6>
                                    <p>@rental.UserRating</p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <h6>User Notes: </h6>
                                    <p>@rental.UserNotes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @using (Html.BeginForm("Index", "Home", null, FormMethod.Post))
            {
                <button id="cancel" class="btn btn-primary">Back</button>
            }
        </ul>

    </div>
</div>
