
@model System.Collections.Generic.List<DVDLibrary.Models.RentalInfo>

@{
    ViewBag.Title = "Track";
}

<h2>Tracking</h2>

<ul>
    @foreach (var rental in Model)
    {
        <li class="list-no-style">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row margin-top-10">
                            <div class="col-md-3">@rental.Movie.Title</div>
                            <div class="col-md-3">@rental.Borrower.BorrowerID</div>
                            <div class="col-md-3">@rental.Borrower.FirstName</div>

                            <div class="col-md-3">@rental.Borrower.LastName</div>
                            <div class="col-md-3">@rental.UserRating</div>
                            <div>@rental.UserNotes</div>
                        </div>
                            @*<div class="col-md-3">
                                @using (Html.BeginForm("Details", "Home", null, FormMethod.Post))
                                {
                                    @Html.Hidden("movieID", movie.MovieID)
                                    <button id="details" class="btn btn-danger">Details</button>
                                }
                                @using (Html.BeginForm("Remove", "Home", null, FormMethod.Post))
                                {
                                    @Html.Hidden("movieID", movie.MovieID)
                                    <button id="remove" class="btn btn-primary">Remove</button>
                                }
                            </div>*@
                        
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

