@model System.Collections.Generic.List<DVDLibrary.Models.MovieInfo>

@{
    ViewBag.Title = "Index";
}

<h2>All Movies</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3"><h6>ID</h6></div>
        <div class="col-md-3"><h6>Title</h6></div>
        <div class="col-md-3"><h6>MPAA Rating</h6></div>
    </div>
</div>
<ul class="list">
    @foreach (var movie in Model)
    {
        <li class="list-no-style">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row margin-top-10">
                            <div class="col-md-3">@movie.MovieID</div>
                            <div class="col-md-3">@movie.Title</div>
                            <div class="col-md-3">@movie.MpaaRating.FilmRating</div>
                            <div class="col-md-3">
                                @using (Html.BeginForm("Details", "Home", null, FormMethod.Post ))
                                {
                                    @Html.Hidden("movieID", movie.MovieID)
                                    <button id="details" class="btn btn-danger">Details</button>
                                }
                                @using (Html.BeginForm("Remove", "Home", null, FormMethod.Post))
                                {
                                    @Html.Hidden("movieID", movie.MovieID)
                                    <button id="remove" class="btn btn-primary">Remove</button>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>