@model System.Collections.Generic.List<DVDLibrary.Models.MovieInfo>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="padding-top-20 margin-left-10">All Movies</h2>
    <div class="container">
        <div class="row hidden-sm hidden-xs">
            <div class="col-sm-3 margin-left-50"><h6>ID</h6></div>
            <div class="col-sm-2"><h6>Title</h6></div>
            <div class="col-sm-2 margin-left-50"><h6>MPAA Rating</h6></div>
        </div>
    </div>
    <ul class="list">
        @foreach (var movie in Model)
        {
            <li class="list-no-style">
                <div class="no-container">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row margin-top-10">

                                <div class="col-sm-3 margin-top-35 margin-left-10 hidden-sm hidden-xs">
                                    <p>@movie.MovieID</p></div>
                                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                                    <p>@movie.Title</p></div>
                                <div class="col-sm-1 margin-top-35 hidden-sm hidden-xs">
                                    <p>@movie.MpaaRating.FilmRating</p></div>
                                <div class="col-xs-12 visible-sm-block visible-xs-block">
                                    <h2>@movie.Title</h2>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <div class="col-xs-6">
                                    @using (Html.BeginForm("Details", "Home", null, FormMethod.Post))
                                    {
                                        @Html.Hidden("movieID", movie.MovieID)
                                        <button id="details" class="btn btn-danger btn-block">Details</button>
                                    }
                                </div>
                                <div class="col-xs-6">
                                    @using (Html.BeginForm("Remove", "Home", null, FormMethod.Post))
                                    {
                                        @Html.Hidden("movieID", movie.MovieID)
                                        <button id="remove" class="btn btn-primary btn-block">Remove</button>
                                    }
                                </div>
                                <div class="col-xs-12 margin-top-10">
                                    @using (Html.BeginForm("Track", "Borrower", null, FormMethod.Post))
                                    {
                                        @Html.Hidden("movieID", movie.MovieID)
                                        <button class="btn btn-default btn-block">Track</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        }
    </ul>
</div>