@model DVDLibrary.Models.MovieInfo

@{
    ViewBag.Title = "Remove";
}

<h2 class="padding-top-40">Remove</h2>

<div class="container">
    <div class="col-lg-5 col-md-5 col-sm-12 col-center-block">
        <h2 class="padding-top-20">@Model.Title</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <h6>Movie ID</h6>
                        <p>@Model.MovieID</p>
                    </div>
                    <div class="col-xs-4">
                        <h6>MPAA Rating</h6>
                        <p>@Model.MpaaRating.FilmRating</p>
                    </div>
                    <div class="col-xs-4">
                        <h6>Release Date</h6>
                        <p>@Model.ReleaseDate</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h6>Director Name:</h6>
                        <p>@Model.Director.FirstName @Model.Director.LastName</p>
                        <p></p>
                    </div>
                    <div class="col-xs-6">
                        <h6>Studio: </h6>
                        <p>@Model.Studio.StudioName</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-4 col-md-2 col-xs-12 col-center-block">
        <p>Are you sure you want to Delete this entry?</p>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-2 col-xs-12 col-center-block">
        <div class="col-xs-6">
            @using (Html.BeginForm("ConfirmDelete", "Home", null, FormMethod.Post))
            {
                @Html.Hidden("movieID", Model.MovieID)
                <button id="deleteMovie" class="btn btn-danger">Confirm</button>
            }
        </div>
        <div class="col-xs-6">
            @using (Html.BeginForm("Index", "Home", null, FormMethod.Post))
            {
                <button id="cancel" class="btn btn-primary">Cancel</button>
            }

        </div>
    </div>
</div>
<br/>
<br/>
