@model DVDLibrary.Models.MovieInfo

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

<h2>@Model.Title</h2>

@Model.MovieID

@Model.MpaaRating.FilmRating
@Model.Director.FirstName
@Model.Director.LastName
@Model.ReleaseDate
@foreach (var actor in Model.Actors)
{
    @actor.ActorID
    @actor.FirstName
    @actor.LastName
}
@Model.Studio.StudioName

<p>Are you sure you want to Delete this entry?</p>
@using (Html.BeginForm("ConfirmDelete", "Home", null, FormMethod.Post))
{
    @Html.Hidden("movieID", Model.MovieID)
    <button id="deleteMovie" class="btn btn-danger">Confirm</button>
}
<button id="cancel" class="btn btn-primary">Cancel</button>